@model IEnumerable<Academico.Models.CursoDisciplina>

<div class=" panel panel-primary">
    <div class=" card-header text-white bg-warning text-center">
        Relação de departamnetos registrados para a instituição
    </div>
    <div class=" panel-body">
        <table class=" table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CursoId)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor( modelItem => item.CursoId)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class=" panel-footer panel-info"></div>
</div>
